@{
    Layout = "_AdminLayout";
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Batch</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">CityMaster</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">


                            <div class="float-right">
                                <a class="btn btn-success" onclick="showInPopup('@Url.Action("AddEditForm","UserInfo")',false)"><i class="fa fa-plus"></i> Add New</a>

                            </div>




                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="user" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        
                                        <th>FName</th>
                                        <th>LName</th>
                                        <th>Contact</th>
                                       <th>Action</th>
                                       
                                        


                                    </tr>
                                </thead>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>

    <div class="offcanvas offcanvas-end" id="demo">


        <div class="offcanvas-header card-header bg-primary" id="title">



            <h5 class="modal-title" id="title">Fees Type</h5>
            <button type="button" class="close" data-bs-dismiss="offcanvas" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
        <div class="offcanvas-body" id="body">
        </div>


    </div>
</div>

@section Scripts {
    <script>
        var showInPopup, jQueryAjaxPost, dataTable;
        $(document).ready(function () {
            dataTable = $("#user").DataTable({
                "ajax": {
                    "url": "/UserInfo/Data",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [

                   
                    { "data": "fName" },

                    { "data": "lName" },
                    {"data": "contact"},

                   




                    {
                        "data": "empId", "render": function (data) {
                            return "<a class='btn btn-primary btn-sm' onclick=showInPopup('@Url.Action("AddEditForm", "UserInfo")/" + data + "',true)><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i> Delete</a>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }


                ],
                "language": {

                    "emptyTable": "No data found"
                }
            });

            showInPopup = (url, edit) => {
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (res) {




                        $('#body').html(res);

                        if (!edit) {
                            $('#title').html('Add User');

                        }
                        else {
                            $('#title').html('Edit User');
                        }

                        var myOffcanvas = document.getElementById('demo')
                        var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas)
                        bsOffcanvas.show()


                    }
                })
            }

            jQueryAjaxPost = form => {


                try {
                    $.ajax({
                        type: 'POST',
                        url: form.action,
                        data: new FormData(form),
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            if (res.result) {

                                $('#body').html('');
                                $('#title').html('');

                                var myOffcanvas = document.getElementById('demo')
                                let openedCanvas = bootstrap.Offcanvas.getInstance(myOffcanvas);
                                openedCanvas.hide();

                                dataTable.ajax.reload();
                                swal(res.message, {
                                    icon: "success",
                                });
                            }

                        },
                        error: function (err) {
                            console.log(err)
                        }
                    })
                    //to prevent default form submit event
                    return false;
                } catch (ex) {
                    console.log(ex)
                }
            }




        });



        function Delete(id) {

            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this record!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                showCancelButton: true,
            })
                .then((willDelete) => {
                    if (willDelete) {


                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("DeleteInfo", "UserInfo")/' + id,
                            success: function (data) {
                                if (data.result == true) {
                                    dataTable.ajax.reload();

                                    swal(data.message, {
                                        icon: "success",
                                    });
                                }

                                else {

                                    swal("Error");
                                }
                            }

                        });



                    }
                });

        }





      
    </script>
}